{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <form method="GET" action="{% url 'ticket:ticket_data' %}" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search by name or ID" value="{{ query }}">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>
    
    <div class="row">
        {% for ticket in tickets %}
        <div class="col-md-4 mb-4">
            <div class="card {% if ticket.used == 'Yes' %} bg-secondary text-white {% endif %}">
                <img src="{{ ticket.tf.url}}" class="card-img-top" alt="Proof of Transfer">
                <div class="card-body">
                    <h5 class="card-title">{{ ticket.kode }}</h5>
                    <p class="card-text">
                        <strong>Nama:</strong> {{ ticket.nama }}<br>
                        <strong>Kontak:</strong> {{ ticket.kontak }}<br>
                        <strong>Email:</strong> {{ ticket.email }}<br>
                        <strong>Asal Sekolah:</strong> {{ ticket.asal }}<br>
                        <strong>Username:</strong> {{ ticket.username }}<br>
                        <strong>Tipe:</strong> {{ ticket.tipe }}<br>
                        {% if ticket.tipe == 'Bundle 2' %}
                        <strong>Nama 2:</strong> {{ ticket.nama2 }}<br>
                        <strong>Kontak 2:</strong> {{ ticket.kontak2 }}<br>
                        <strong>Asal Sekolah 2:</strong> {{ ticket.asal2 }}<br>
			<strong>Email 2:</strong> {{ ticket.email2 }} <br>
                        <strong>Username 2:</strong> {{ ticket.username2 }}<br>
                        {% endif %}
                        <strong>Used:</strong> {{ ticket.used }}<br>
                        <strong>Note:</strong> {{ ticket.note }}<br>
                        <strong>Status:</strong> {{ ticket.status }}<br>
                        <strong>Tanggal:</strong> {{ ticket.created_at }}<br>
                    </p>
                    {% if ticket.used == 'No' %}
                        <a href="{% url 'ticket:mark_ticket_as_used' ticket_id=ticket.pk %}" class="btn btn-primary">Mark as Used</a>
                    {% else %}
                        <a href="{% url 'ticket:mark_ticket_as_not_used' ticket_id=ticket.pk %}" class="btn btn-warning">Mark as Not Used</a>
                    {% endif %}
                    {% if ticket.status == 'Tunggu Konfirmasi' %}
                        <a href="{% url 'ticket:set_payed' ticket_id=ticket.pk %}" class="btn btn-primary">Set Sudah Bayar</a>
                    {% else %}
                        <a href="{% url 'ticket:set_unpayed' ticket_id=ticket.pk %}" class="btn btn-warning">Set Tunggu Konfirmasi</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
