{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    body {
        background-image: url('{% static "images/bg.png" %}');
        background-size: cover;
        background-position: center center;
        background-repeat: repeat; /* Set background-repeat to repeat */
        height: 100vh;
        margin: 0;
        font-family: 'Mount Hills', sans-serif;
        color: rgb(209, 186, 123);
    }

    .card {
        background: rgba(172, 80, 242, 0.58);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        color: rgb(209, 186, 123);
    }

    .card-body {
        font-weight: bold;
        font-size: 40px;
    }

    .form-container {
        background: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        backdrop-filter: blur(10px);
        color: rgb(209, 186, 123);
    }

    .form-group {
        margin-bottom: 20px;
        text-align: left; /* Align text to the left for better readability */
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input, select, textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
        background-color: rgba(138, 43, 226, 0.58); /* Adjust the background color for input and select */
        color: white;
    }

    button {
        background-color: #430a63;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    @font-face {
        font-family: 'Mount Hills';
        src: url('{% static "fonts/mount_hills/MountHills.otf" %}') format('opentype');
    }

    input[type="file"] {
        display: none; /* Hide the default file input button */
    }

    .file-input-label {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
        background-color: rgba(138, 43, 226, 0.58); /* Adjust the background color for the custom button */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
    }
</style>

<!-- Your actual content goes here -->
<div>
    <div class="card">
        <div class="card-body">
            Ticket
        </div>
    </div>
    <div class="form-container">
        <form action="{% url 'ticket:submit_ticket' %}" method="post" enctype="multipart/form-data" id="ticketForm">
            {% csrf_token %}

            <div class="form-group">
                <label for="nama">Nama :</label>
                <input type="text" id="nama" name="nama" required>
            </div>

            <div class="form-group">
                <label for="kontak">Kontak (Id Line / No Wa):</label>
                <input type="text" id="kontak" name="kontak" required>
            </div>

            <div class="form-group">
                <label for="email">Email :</label>
                <input type="text" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="asal">Asal Sekolah:</label>
                <input type="text" id="asal" name="asal" required>
            </div>

            <div class="form-group" style="font-weight: bold; color: rgb(209, 18, 123); font-size: larger;">
                <label for="priceDescription">
                    Price Description:<br>
                    List harga early bird (8-13 Januari)<br>
                    try out = 20k<br>
                    seminar = 30k<br>
                    bundling 1 orang = 45k<br>
                    bundling 2 orang = 85k<br><br>

                    List harga presale 1 (14-19 Januari)<br>
                    try out = 25k<br>
                    seminar = 35k<br>
                    bundling 1 orang = 55k<br>
                    bundling 2 orang = 100k<br><br>
                </label>
            </div>

            <div class="form-group">
                <label for="tipe">Tipe Tiket:</label>
                <select id="tipe" name="tipe" required>
                    <option value="Seminar">Seminar</option>
                    <option value="Try Out">Try Out</option>
                    <option value="Bundle 1">Bundling 1</option>
                    <option value="Bundle 2">Bundling 2</option>
                </select>
            </div>

            <div class="form-group" id="bundle2Fields" style="display: none;">
                <label for="nama2">Nama orang ke 2:</label>
                <input type="text" id="nama2" name="nama2">
            </div>

            <div class="form-group" id="bundle2Fields1" style="display: none;">
                <label for="kontak2">Kontak orang ke 2:</label>
                <input type="text" id="kontak2" name="kontak2">
            </div>

            <div class="form-group" id="bundle2Fields2" style="display: none;">
                <label for="email2">Email orang ke 2:</label>
                <input type="text" id="email2" name="email2">
            </div>

            <div class="form-group" id="bundle2Fields3" style="display: none;">
                <label for="asal2">Asal Sekolah orang ke 2:</label>
                <input type="text" id="asal2" name="asal2">
            </div>

            <div class="form-group" style="font-weight: bold; color: rgb(209, 18, 123); font-size: larger;">
                <label for="priceDescription">
                    Dana: 082153261358 a.n Indriwati Syahputri Susanti<br>
                    Gopay: 082153261358 a.n Indriwati Syahputri Susanti<br>
                    No. Rekening: 1379631608 (BNI) a.n Indriwati Syahputri Susanti<br>
                </label>
            </div>


            <div class="form-group">
                <label for="tf">Bukti Transfer (Image max 1 MB, compress kalo lebih):</label>
                <input type="file" id="tf" name="tf" accept="image/*" required>
                <label class="file-input-label" for="tf">Choose File</label>
              </div>          
            
            <div class="form-group">
                <label for="note">Note tambahan (Jika Perlu):</label>
                <textarea id="note" name="note" rows="4" cols="50"></textarea>
            </div>

            <div class="form-group" style="font-weight: bold; color: rgb(209, 18, 123); font-size: larger;">
                <label for="priceDescription">
                    Narahubung : <br>
                    Nata <br>
                    id line : faintlily<br>
                    wa : 081346099332<br><br>
                    Nayang<br>
                    id line : nayangnurizah<br>
                    wa : 085172204893<br><br>
                </label>
            </div>

            <button type="submit">Submit</button>
            
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        // Attach change event to the file input
        $('#tf').change(function(){
        // Check if a file is selected
        if ($(this).val()) {
            // Get the file name and update the label text
            var fileName = $(this).val().split('\\').pop();
            $('.file-input-label').text(fileName + ' submitted');
        } else {
            // No file selected, revert to the default label text
            $('.file-input-label').text('Choose File');
        }
        });
    });

    document.getElementById('tipe').addEventListener('change', function() {
        var bundle2Fields = document.getElementById('bundle2Fields');
        var bundle2Fields1 = document.getElementById('bundle2Fields1');
        var bundle2Fields2 = document.getElementById('bundle2Fields2');
        var bundle2Fields3 = document.getElementById('bundle2Fields3');
        if (this.value === 'Bundle 2') {
            bundle2Fields.style.display = 'block';
            bundle2Fields1.style.display = 'block';
            bundle2Fields2.style.display = 'block';
            bundle2Fields3.style.display = 'block';
        } else {
            bundle2Fields.style.display = 'none';
            bundle2Fields1.style.display = 'none';
            bundle2Fields2.style.display = 'none';
            bundle2Fields3.style.display = 'none';
            bundle2Fields.value = '-';
            bundle2Fields1.value = '-';
            bundle2Fields2.value = '-';
            bundle2Fields3.value = '-';
        }
    });
</script>

{% endblock %}
